<div class="center-login">
<p-panel header="Login" size="40">
    <br>
    <div class="center-float-label">
    <span class="ui-float-label">
            <input id="float-input" type="text" size="30" pInputText>
            <label for="float-input">Username</label>
    </span>
    </div>
    <br>
    <div class="center-float-label">
    <span class="ui-float-label">
        <input id="float-input" type="password" size="30" pInputText> 
        <label for="float-input">Password</label>
    </span>
    </div>
    <p-footer class="ui-login-footer">
        <button pButton type="button" icon="pi pi-key" label="Login" class="ui-button-info" style="margin-left: .25em;"></button>
        <!-- <button pButton type="button" icon="pi pi-search" label="View" class="ui-button-success"></button> -->
    </p-footer>
</p-panel>
</div>